
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: sans-sarif;
}
// --------------------------------------------------
// Basics of html
// --------------------------------------------------
a {
  color: rgba(#000, 0.7);
  text-decoration: none;
  &:focus,
  &:hover {
    color: rgba(7, 28, 31, 0.6);
  }
}
p {
  font-size: 1.25rem;
  font-family: 'Asap', sans-serif;
}

//-------------------------------------------------------------
// Main container
//-------------------------------------------------------------
#container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}
//-------------------------------------------------------------
// Media queries
//-------------------------------------------------------------

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
// Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


// Usage
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }


//-------------------------------------------------------------
// Navigation Styles
//-------------------------------------------------------------

.site_nav_wrapper{
  // this is for mobile
  @media (max-width: 700px) {
    text-align: center;
  }
}
.site_nav {
  // this is for mobile
  @media (max-width: 700px) {
    font-size: 1em;
    padding-top: 6px;
    text-align: center;
  }
  display: inline-block;
}
.social_nav {
  // this is for mobile
  @media (max-width: 700px) {
    display: block;
    float: none;
  }
  display: inline;
  float: right;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  padding-top: 15px;
  a {
    margin-right: 5px;
  }
}
// --------------------------------------------------
// Hero positioning and sizing   
// --------------------------------------------------
// testing hero image https://www.developerdrive.com/full-page-hero-image-html-css/
.hero_1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    // he horizontal scroll solved by giving max-width: 100%
    max-width:100%;
}
.hero_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/creamerie_mm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero-content {
    position: relative;
}
.hero_1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
  // this is for mobile
    @media (max-width: 700px) {
      font-size: 2.5em;
    }
   // Text styles
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  
    // font-size: 3rem;
    font-weight: 600;
}
.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Asap', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.btn {
    // Positioning and sizing
    display: block;
    width: 200px;

    // padding and marging
    padding: 1em;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    // Text styles
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgba(98, 222, 127, 0.7);

    // Border styles
    border: 3px solid white;
    border-radius: 8px;
  }



//-------------------------------------------------------------
// Section info panel
//-------------------------------------------------------------
.info_panel {
  // this is for mobile
  @media (max-width: 700px) {
    padding: 20px; 
  }
  padding: 100px;
}
//-------------------------------------------------------------
// Section three colmns
//-------------------------------------------------------------
.border_top {
  border-bottom: 1.5px solid  #00A6B3;
  width: 25rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
// This is to clear elements from the three columns
.section_columns {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}
.section_columns:after {
  content: "";
  display: table;
  clear: both;
}
.fa-ice-cream {color: #C879B2;}
.col1, .col2, .col3 {
  // this is for mobile
  @media (max-width: 700px) {
    float: none;
    width: auto;
  }
  float: left;
  width: 33.33%;

  .btn_section  {
    padding: 8px;
    font-size: 1.2em;
    list-style: none;
    margin-top: 8px;
    white-space: nowrap;
    border: 1px solid #6ab48d;
    border-radius: 1px;
  }
  .p-button:active,  .p-button:focus,  .p-button:visited {
    color: #6ab48d;
    background: #fff;
    box-shadow: none;
    outline: none;
  }
  .btn_section:hover {
    color: #e20000;
  }
}
.col_hours {
  @media (max-width: 700px) {
    text-align: left;
    padding-left: 1em;
  }
  display: inline-block;
  text-align: left;
  
}
//-------------------------------------------------------------
// Footer Styles
//-------------------------------------------------------------

footer {
  text-align: center;
  background-color: #6ab48d; 
  line-height: 1.5;
  // to show background affected by float: left;
  overflow: hidden;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.social_footer, .footer_contact, .footer_location {
  // this is for mobile
  @media (max-width: 700px) {
    float: none;
    width: auto;
  }
  float: left;
  width: 33.33%;
  margin: 0 auto;
}
.fa-facebook-f {color: #4285f4;}
.social_list {
  li { 
    display: inline;
    padding-right: 1em; 
  }
}

