
<!--  Footer social -->
<footer>
  <div id="container">
       <!-- Footer Contact -->
     <section class="footer_contact">
      <h3>Contact Us</h3>
      <ul class="ft_contact_list">
        <li><a href="tel:52343566">Phone: 52-343-56-6</a></li>
        <li><a href="mailto:middletowncreamery@gmail.com">Email: middletowncreamery@gmail.com</a></li>
      </ul>
    </section>

    <section class="social_footer">
      <h3>Join the community</h3>
      <ul class="social_list">
        <li>
          <a href="https://www.facebook.com/middletowncreamery" target="blank?">
            <i class="fab fa-facebook-f  fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/middletowncreamery/" target="blank?">
            <i class="fab fa-instagram  fa-2x"></i>
          </a>
        </li>
        <!-- <li><a href="#"><i class="fab fa-facebook  fa-2x"></i></a></li> -->
      </ul>
    </section>

    <!-- Footer Location -->
    <section class="footer_location">
      <h3>Location</h3>
      <ul class="ft_location_list">
        
        <li>
          <a href="https://www.google.com/maps/dir/38.7055616,-122.6145792/38.7537821,-122.6148891/@38.7280774,-122.6506541,13z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" class="p-button btn_section" target="_blank">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 21037 Calistoga St Middletown, California 95461
          </a>
          </li>
        <li><a href="#"></a></li>
      </ul>
    </section>
  </div>
</footer>