<footer>
  <div id="container" class="footer_info">

    <div class="social_footer">
      <h2>Join the community</h2>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-patreon"></i></a>
    </div>

    <div class="footer_contact">
      <h2>Contact Us</h2>
      <p>Phone: 52-343-56-6</p>
      <p>Email: middletowncreamery@gmail.com</p>
    </div>

    <div class="footer_location">
      <h2>Location</h2>
      <p>21037 Calistoga St Middletown, California 95461</p>
    </div>

  </div>
</footer>