
<!--  Footer social -->
<footer>
  <div id="container">
       <!-- Footer Contact -->
     <section class="footer_contact">
      <h3>Contact Us</h3>
      <ul class="ft_contact_list">
        <li><a href="#">Phone: 52-343-56-6</a></li>
        <li><a href="#">Email: middletowncreamery@gmail.com</a></li>
      </ul>
    </section>

    <section class="social_footer">
      <h3>Join the community</h3>
      <ul class="social_list">
        <li><a href="#"><i class="fab fa-facebook  fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram  fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook  fa-2x"></i></a></li>
      </ul>
    </section>

    <!-- Footer Location -->
    <section class="footer_location">
      <h3>Contact Us</h3>
      <ul class="ft_location_list">
        <li><a href="#">Phone: 52-343-56-6</a></li>
        <li><a href="#">Email: middletowncreamery@gmail.com</a></li>
      </ul>
    </section>
  </div>
</footer>