
<!--  Footer social -->
<footer>
  <div id="container">
       <!-- Footer Contact -->
     <section class="footer_contact">
      <h3>Contact Us</h3>
      <ul class="ft_contact_list">
        <li><a href="tel:7078095118">Phone: (707) 809-5118</a></li>
        <li><a href="mailto:jan@middletowncreamery.com">Email: jan@middletowncreamery.com</a></li>
      </ul>
    </section>

    <section class="social_footer">
      <h3>Join the community</h3>
      <ul class="social_list">
        <li>
          <a href="https://www.facebook.com/middletowncreamery" target="blank?">
            <i class="fab fa-facebook-f  fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/middletowncreamery/" target="blank?">
            <i class="fab fa-instagram  fa-2x"></i>
          </a>
        </li>
        <!-- <li><a href="#"><i class="fab fa-facebook  fa-2x"></i></a></li> -->
      </ul>
    </section>

    <!-- Footer Location -->
    <section class="footer_location">
      <h3>Location</h3>
      <ul class="ft_location_list">
        
        <li>
          <a href="https://www.google.com/maps/place/Middletown+Creamery/@38.7544747,-122.6149836,15z/data=!4m5!3m4!1s0x0:0x76acf62056f286d2!8m2!3d38.7544747!4d-122.6149836" target="_blank">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 21037 Calistoga St. Middletown, California 95461
          </a>
          </li>
        <!-- <li><a href="#"></a></li> -->
      </ul>
    </section>
  </div>
</footer>