<nav>
	<div id="container">
		<div class="site_nav">
			<h1>Middletown Creamery</h1>
		</div>
		<div class="social_nav">
			<a href="#">About</a>
			<a href="#">facebook</a>
			<a href="#">Instagram</a>
		</div>
	</div>
</nav>