<nav>
	<div id="container">
		<div class="site_nav">
			<h1><%= link_to 'Middletown Creamery', '/index.html', :relative => true %></h1>
		</div>
		<div class="social_nav">
			<%= link_to 'About Us', '/about.html', :relative => true %>
			<%= link_to 'Menu', '/menu.html', :relative => true %>
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</nav>