---
title: Middletown Creamery | About Us
---
<div id="container">
	<div class="about_info">
		<section class="about_img">
			<%= image_tag 'creamery.jpeg' %>
		
		</section>

		<section class="about_text">
			 <h1>Our Mission:</h1>
		<p>	
			Radiantly Raw believes that the Standard American Diet (appropriately abbreviated as S.A.D.) is lacking in the nutrients and enzymes that can only come from eating organic, raw foods. Our goal is to help others reap the health benefits of eating whole, raw foods and to become as passionate about it as we are.
		</p>
		<p>
			Radiantly Raw is your cheerleader (a good-looking one at that) on the sidelines pushing you to get up and do something about your health in hopes that you’ll become someone else’s cheerleader someday. (Guys can wear spandex too!) We believe in installing hope for healing in others and encouraging change for the better, one bite at a time.
		</p> 
		</section>
		
	</div>	
</div>