---
title: Middletown Creamery | About Us
---
<div id="container">
	<div class="about_info">
		<section class="about_img">
			<%= lorem.sentences 5 %>
		</section>

		<section class="about_text">
			<%= lorem.sentences 5 %>
		</section>
	</div>	
</div>