---
title: Middletown Creamery | Home
---

<section class="hero">
  <div class="hero-inner">
    <h1>Middletown Creamery</h1>
    <h2>Ice Cream Shop · Sandwich Shop · Candy Store</h2>
   <p> <a href="#" class="btn">Call Now</a></p>

  </div>
</section>


<div id="container">
  <section class="info_panel">
    <p>
      We are a small locally owned and operated ice cream store and deli!.
    </p>
    <p>
    Creamy to perfection, our ice creams are carefully made from real cream according to our original recipes. Our ingredients provide all the richness and flavor that our customers are looking for in a REAL ice cream.
  </p>
  </section>
  <div class="border_top"></div>
  <div class="section_columns">
    <section class="col1">
      <h1>Location</h1>
      <p>
        21037 Calistoga St Middletown, <br>
        California 95461
      </p>
      
      <a href="https://www.google.com/maps/dir/38.7055616,-122.6145792/38.7537821,-122.6148891/@38.7280774,-122.6506541,13z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" class="p-button btn_section" target="_blank">
        Open in Google Maps
      </a>
    </section>
    
    <section class="col2">
      <h1>
        <h1>Menu</h1> 
        <br>
        <a href="#"><i class="fas fa-ice-cream fa-5x"></i></a>
      </h1>
    </section>
    <section class="col3">
      <h1>
        Hours
      </h1>
      <p>
        M: 11:30 AM - 4:00 PM <br>
        T: 11:30 AM - 4:00 PM <br>
        W: 11:30 AM - 4:00 PM <br>
        T: 11:30 AM - 4:00 PM <br>
        F: 11:30 AM - 4:00 PM <br>
        S: 12:00 PM - 4:00 PM <br>
        S: CLOSED
      </p>
    </section>
  </div>
</div> 
<!-- <br style="clear: both"> -->


